<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../styles.scss">    
    <title>Netflix</title>
</head>

<body class="page">
    <header><h1><%=title%></h1></header>
    <main>
        <img src="<%=image%>" alt="<%=title%>">
        <h2><strong><%=gender%></strong></h2>
    </main>
</body>

</html>